<div class="row">
    <mat-card class="card">
        <mat-card-content class="text-center">
            <mat-card-title>Export</mat-card-title>
            <mat-card-subtitle>Confirm export of all observations by clicking the button below.</mat-card-subtitle>
            <mat-card-actions>
                <button (click)="saveFile()" mat-raised-button color="primary">
                    Export
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
